.password-box{
  display: flex;
  flex-direction: column;
  header{
    margin-top: .2rem;
    height: .6rem;
    display: flex;
    align-items: center;
    padding: .14rem;
    img{
      width: .24rem;
    }
  }
  article{
    padding: 0 .3rem;
    font-size: .32rem;
    color: black;
  }
  .password-input{
    border-bottom: 1px solid #e2dcdc;
    width: 80%;
    margin: .3rem auto .1rem;
    display: flex;
    align-items: center;
    input{
      border: none;
      height: .5rem;
      font-size: .2rem;
      width: 46%;
    }
  }
  .password-title{
    margin-left: .33rem;
    margin-top: .14rem;
    span{
      &:nth-child(2){
        color: #1fa2ff;
      }
    }
  }
  .password-button{
    margin-top: .4rem;
    display: flex;
    justify-content: center;
  }
}