.friendList-box {
  padding: .5rem 0 .6rem 0;
  .friendList-content {
    height: calc(100vh - 1.1rem);
    overflow: auto;
    header {
      padding: .1rem;
      font-size: 12px;
      display: flex;
      background: #fff;
    }
    .friendList-newFriend {
      margin-bottom: .22rem;
    }
  }
}